[Unit]
Description=Expose sshwifi metrics to prometheus

[Service]
User=promsshwifi
Group=promsshwifi
EnvironmentFile=/etc/prometheus-sshwifi/environment
PrivateTmp=yes
WorkingDirectory=/var/lib/prometheus-sshwifi/metrics
StateDirectory=promsshwifi
ConfigurationDirectory=prometheus-sshwifi
ExecStart=/usr/bin/python -m SimpleHTTPServer 9100

[Install]
WantedBy=multi-user.target
